<div class="logo">
  <img
    src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png"
    alt=""
    width="50"
  />
  <p>Logo</p>
</div>
<nav>
  <ul>
    <li>Home</li>
    <li>Blog</li>
    <li>Contact</li>
  </ul>
</nav>